/* Usado para importar regras de estilo de outras folhas de estilo. */ 


@import"https://fonts.googleapis.com/ css2?family=Source+Sans+Pro:wght@200;300;400&display=swap";

* { /* Este seletor escolhe todos os elementos do documento e
    redefine todas as configurações do navegador. */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    }
    
    * { /* Este seletor escolhe todos os elementos do documento e
    redefine todas as configurações do navegador. */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    }

    .flex-container {
        display: flex;
        max-width: 992px;
        margin: auto;
        width: 100%;
        min-width: 320px;
        
    }
    
    header {
        background-color: #122a57;
        height: 100px;
        display: flex;
        align-items: center;
        color: #fff;
    }
    
    header .list-items {
        display: flex;
        max-width: 120px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .list-items li a {
        color: #fff;
    }
    
    header .menu {
        justify-content: space-between;
    }
    
    .apresentacao {
        height: 100vh;
        align-items: center;
        justify-content: space-between;
    }

   

    .botao-destaque {
    /* .botao.botao-destaque { */
        background: #30C5CC;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        width: 70px;
        display: block;
        text-decoration: nome;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .apresentacao {
        height: 100vh;
        align-items: center;
        justify-content: space-between;
    }
    
    .apresentacao .texto-apresentacao {
        min-height: 200px;
        
    }
    
    .texto-apresentacao h1 {
        color: #122a57;
        font-size: 48px;
        margin-bottom: 10px;
    
    }

    .btn {
        background-color: #122a57;
        color: #fff;
        text-align: center;
        border-radius: 30px;
        width: 220px;
        display: block;
        text-decoration: nome;
        height: 50px;
        line-height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    
    #quem-somos {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 200px;
    }
    
    #quem-somos h2 {
        font-size: 32px;
        color: #122a57;
        display: flex;
        margin-bottom: 20px;
    }
    
    #quem-somos h2::before {
        content: "";
        height: 50px;
        width: 5px;
        margin-right: 5px;
        background-color: #122a57;
        position: relative;
    }
    
    #quem-somos p {
        margin-bottom: 10px;
        width: 90%;
    }
    
    #quem-somos img {
        min-width: 100px;
        margin-right: 20px;
        border: #122a57 solid;
    }

    


    .sobre {
    justify-content: space-between;
    align-items: center;
    }
    .sobre article {
    width: 350px;
    }
    .sobre article h1 {
    font-size: 70px;
    line-height: 90%;
    font-weight: 400;
    color: #336;
    }
    .sobre article h2,
    .sobre article p {
    color: #39c;
    }
    
    .sobre article h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 200%;
    }
    .sobre article p {
    margin: 10px 0 40px;
    }
    .sobre article figcaption img {
    width: 700px;
    }

    footer {
        background-color: #122a57;
        height: 200px;
        display: flex;
        align-items: center;
    }
    
    footer .footer {
        justify-content: space-between;
        color: #fff;
    }

     footer ul li {
    margin: 0 30px 0 0;
    }
    footer ul li a img {
    width: 30px;
    } 
    /* Define o tamanho dos elementos em telas de 1150px. */
    @media(max-width: 1150px) {
    .conteudo {
    width: 950px;
    }
    }
    /* Define o tamanho dos elementos em telas de 1024px. */
    @media(max-width: 1024px) {
    
    .conteudo {
    width: 850px;
    }
    .sobre figcaption img {
    width: 600px;
    }
    }
    /* Define o tamanho dos elementos em telas de 915px. */
    @media(max-width: 915px) {
    .conteudo {
    width: 600px;
    }
    .linha {
    flex-direction: column;
    }
    header nav {
    margin: 30px 0;
    }
    .sobre article {
    width: 100%;
    }
    .sobre figcaption img {
    width: 100%;
    margin: 30px 0 0 0;
    }
    
    footer .linha {
    flex-direction: row;
    justify-content: center;
    }
    }
    /* Define o tamanho dos elementos em telas de 665px. */
    @media(max-width: 665px) {
    .conteudo {
    width: 400px;
    }
    }
    /* Define o tamanho dos elementos em telas de 450px. */
    @media(max-width: 450px) {
    .conteudo {
    width: 290px;
    }
    header nav {
    width: 100%;
    padding: 10px 0 20px;
    }
    header nav ul {
    flex-direction: column;
    }
    header nav ul li {
    margin: 10px 0;
    }
    
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    }
    /* Itens do formulário */
    fieldset {
    width: 60%;
    padding: 10px 0 20px;
    margin-left: 10px;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 20px;
    }
    .agrupamento {
    display: flex;
    flex-direction: column;
    }
    .agrupamento-botao {
    padding-top: 10px;
    }
    
    .entrada {
    font-family: inherit;
    line-height: 1.15;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    }
    .entrada:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(173, 216, 230, 0.5);
    }
    .entrada.mensagem {
    resize: none;
    }
    .rotulo {
    padding-bottom: 2.5px;
    padding-top: 20px;
    font-weight: 600;
    }

    /* mobile */
@media(max-width:992px) {
    .flex-container {
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;

    }
    .apresentacao .texto-apresentacao {
        width: 100%;
    }
    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }
    .list-servicos{
        flex-direction: column;
    }
    .item-servico img{
        width: 50%;
        margin: auto;
    }
    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .list-planos .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;

    }
}