/* Usado para importar regras de estilo de outras folhas de estilo. */ 


   
    header h1 {
        margin: 0;
        color: #ff4081;
        text-shadow: 1px 1px #efddddcc;
        
    }

    
   
    
   
    
    
   